<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Event Ease App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        @if (UserSession.IsUserLoggedIn(UserSession.GetSessionEmail() ?? string.Empty))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="eventregister">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Event Registration
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="eventmanager">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Event List
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="userregister">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User Registration
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="attendance">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Attendance Tracker
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="userregister">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> User Registration
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    [Inject]
    private event_ease.Services.UserSessionService UserSession { get; set; } = default!;
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        UserSession.OnChange += StateHasChanged; // Subscribe to state changes
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Dispose()
    {
        UserSession.OnChange -= StateHasChanged; // Unsubscribe to avoid memory leaks
    }
}
